@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  font-style: monospace;
  src: url('font/IBMPlexMono-Regular.otf');
}

body {
  overflow: hidden;
  background: #0c0c0c;
  font-family: 'IBM Plex Mono', monospace;
  color: #dcddde;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

#background {
  /* The image used */
  background-image: url("../media/Wallpaper.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
}

#clock {
  font-size: 7rem;
  text-align: center;
  border-radius: 1rem;
  color: #dcddde;
}

.date {
  font-size: 2rem;
}
